nav{
    padding:10px;
    margin:10px;
    background-color:blanchedalmond;
    text-align: right;
    border-radius: 40px;
}
nav>a{
text-align:left;
text-decoration:none;
text-transform:uppercase;
display:inline-block;
}
nav> a:hover{
    color:#ff8080;
}
h1{
  color:blue;
  font-size:25px;
  font-style:italic; 
  text-align: left; 
}
img{

    height:250px;
    width:250px;
    border:1 px solid black;
    text-align: center;
}
p{
    font-size:18px;
}
body{
    background-image:cover;
    background-repeat:no-repeat;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbwt2tRb5llpMoP3IbzgnSA59jhRZQfkjQiIuznvM11GZtNPlbfg")
}
footer{
    background-color:blanchedalmond;
    border-radius:40px;
}